<style>

/*GLOBAL*/
* {
    padding: 0;
    margin: 0;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    scroll-behavior: [ auto | smooth];
    font-weight: normal;
    font-style: normal;
    font-kerning: normal;
    margin: 0 !important;
    overflow-x: hidden !important;
    padding-top: 3rem;
    color: var(--basegrey)
}

:root {
    --black: #000;
    --white: #fff;
    --basegrey: #888;
    --lightgrey: #DBDBDB;
}

@media screen and (max-width: 1364px) {
    body {
        padding-top: 4rem;
    }
}

TYPOGRAPHY .bold {
    font-family: "Twklausanne 600";
}

h2,
p,
figure,
a {
    font-family: "Twklausanne 300";
    font-weight: 300;

}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Twklausanne 200";
    font-weight: 200;
    font-size: 1.875rem;
    line-height: 2.93rem;
    letter-spacing: -0.05rem;
    font-weight: 200;
}

span.carriagereturn>h1 {
    padding-bottom: .7rem;
}

span.tab>h1 {
    padding-left: 25%;
}

@media screen and (max-width: 766px) {
    span.tab>h1 {
        padding-left: 2ch;
    }
}

h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.03rem;
}

span.leadcarriagereturn>h2 {
    padding-bottom: .7rem;
}

span.carriagereturn>h2 {
    padding-bottom: .44rem;
}

span.paragraphbreak>h2 {
    padding-bottom: 2.6rem;
}

h2 br {
    margin-bottom: 50px;
}

p,
nav a {
    font-size: 1.04rem;
    line-height: 1.85rem;
    letter-spacing: -0.03rem;
    margin: 0;
    padding: 0;
}

a,
figure {
    display: block;
    font-size: .8rem;
    line-height: 1.7rem;
}

/*TABLET TYPOGRAPHY*/
@media screen and (max-width: 1364px) {
    h1 {
        font-size: 1.74rem;
        line-height: 2.7rem;
    }
}

/*MOBILE TYPOGRAPHY*/
@media screen and (max-width: 766px) {
    h1 {
        font-family: "Twklausanne 250;
 font-weight: 250;
        font-size: 1.6rem;
        line-height: 2.43rem;
    }

    h2 {
        font-size: 1.22rem;
        line-height: 2rem;
    }

    span.carriagereturn>h2 {
        padding-bottom: .4rem;
    }

    span.paragraphbreak>h2 {
        padding-bottom: 2rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        letter-spacing: -0.015rem;
    }
}


/* STRUCTURAL */

.margin {
    width: 2rem;

}

@media screen and (max-width: 766px) {
    .margin {
        width: .2rem;
        /* max-width: .2rem; */

    }
}

/* Menu controls */
.menublock {
    position: fixed;
    top: 0;
    left: calc(2rem + 7px);
}

@media screen and (max-width: 766px) {
    .menublock {
        left: calc(.2rem + 7px);
    }
}

@media screen and (max-width: 1364px) {
    .menublock a {
        visibility: hidden;
    }

    .headerlogo svg {
        display: block;
        height: 3.4rem;
        margin: 2.65rem 0 3.4rem 0;
    }
}

@media screen and (max-width: 1364px) {

    .menublock {
        position: absolute;
        top: 0;
    }

}

<style>* {
    padding: 0;
    margin: 0;
}

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    scroll-behavior: [ auto | smooth];
    font-weight: normal;
    font-style: normal;
    font-kerning: normal;
    margin: 0 !important;
    overflow-x: hidden !important;
    padding-top: 3rem;
    color: var(--basegrey)
}

:root {
    --black: #000;
    --white: #fff;
    --basegrey: #888;
    --lightgrey: #DBDBDB;
}

@media screen and (max-width: 1364px) {
    body {
        padding-top: 4rem;
    }
}

TYPOGRAPHY .bold {
    font-family: "Twklausanne 600";
}

h2,
p,
figure,
a {
    font-family: "Twklausanne 300";
    font-weight: 300;

}

h1,
h2 {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Twklausanne 200";
    font-weight: 200;
    font-size: 1.875rem;
    line-height: 2.93rem;
    letter-spacing: -0.05rem;
    font-weight: 200;
}

span.carriagereturn>h1 {
    padding-bottom: .7rem;
}

span.tab>h1 {
    padding-left: 25%;
}

@media screen and (max-width: 766px) {
    span.tab>h1 {
        padding-left: 2ch;
    }
}

h2 {
    font-size: 1.4rem;
    line-height: 2.1rem;
    letter-spacing: -0.03rem;
}

span.leadcarriagereturn>h2 {
    padding-bottom: .7rem;
}

span.carriagereturn>h2 {
    padding-bottom: .44rem;
}

span.paragraphbreak>h2 {
    padding-bottom: 2.6rem;
}

h2 br {
    margin-bottom: 50px;
}

p,
nav a {
    font-size: 1.04rem;
    line-height: 1.85rem;
    letter-spacing: -0.03rem;
    margin: 0;
    padding: 0;
}

a,
figure {
    display: block;
    font-size: .8rem;
    line-height: 1.7rem;
}


@media screen and (max-width: 1364px) {
    h1 {
        font-size: 1.74rem;
        line-height: 2.7rem;
    }
}


@media screen and (max-width: 766px) {
    h1 {
        font-family: "Twklausanne 250;
 font-weight: 250;
        font-size: 1.6rem;
        line-height: 2.43rem;
    }

    h2 {
        font-size: 1.22rem;
        line-height: 2rem;
    }

    span.carriagereturn>h2 {
        padding-bottom: .4rem;
    }

    span.paragraphbreak>h2 {
        padding-bottom: 2rem;
    }

    p {
        font-size: 1.1rem;
        line-height: 1.8rem;
        letter-spacing: -0.015rem;
    }
}




.margin {
    width: 2rem;

}

@media screen and (max-width: 766px) {
    .margin {
        width: .2rem;


    }
}

.menublock {
    position: fixed;
    top: 0;
    left: calc(2rem + 7px);
}

@media screen and (max-width: 766px) {
    .menublock {
        left: calc(.2rem + 7px);
    }
}

@media screen and (max-width: 1364px) {
    .menublock a {
        visibility: hidden;
    }
}

.headerlogo svg {
    display: block;
    height: 3.4rem;
    margin: 2.65rem 0 3.4rem 0;
}

@media screen and (max-width: 1364px) {

    .menublock {
        position: absolute;
        top: 0;
    }

}









@media screen and (max-width: 766px) {
    .standardspacer {
        margin-bottom: 6rem;
    }
}


@media screen and (max-width: 766px) {
    .stackable {
        margin-top: 4rem;
    }
}

.overline {
    border-top: 1px solid var(--lightgrey);
}

.overlinespacer {
    margin-top: .4rem;
}

.standardspacer,
.standardspacerresponsive {
    margin-bottom: 9.3rem;
}

@media screen and (max-width: 766px) {
    .standardspacerresponsive {
        margin-bottom: 3.3rem;

    }

    .overlinespacer.stackable {
        margin-top: 4rem;

    }

}

.thirdgrid2 p {
    margin-top: 4rem;
}

@media screen and (max-width: 766px) {
    .thirdgrid2 p {
        margin-top: 3.4rem;
    }
}




@media screen and (max-width: 1364px) {

    .fullgrid .halfgridleft,
    .halfgridright,
    .twothirdsgridright,
    .keycolumn {
        grid-column: 2 / 14 !important;
    }
}

@media screen and (max-width: 1364px) {
    .thirdgrid2 {
        grid-column: 2 / 7 !important;
    }
}



@media screen and (max-width: 1364px) {
    .thirdgrid3 {
        grid-column: 8 / 14 !important;
    }
}


@media screen and (max-width: 766px) {

    .thirdgrid2,
    .thirdgrid3 {
        grid-column: 2 / 14 !important;
    }
}



@media screen and (max-width: 1364px) {
    .subgridfaq {

        grid-column: 7 / 14 !important;

        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

    .subgridfaq .thirdgrid3 {

        grid-column: 8 / 14 !important;
    }

    .subgridfaq .keycolumn {

        grid-column: 1 / 1 !important;
        padding-top: .176rem;
        margin-left: 50%;
    }

    .faqtext {
        grid-column: 2 / 8 !important;
    }
}

@media screen and (max-width: 766px) {

    .subgridfaq .keycolumn {
        margin-left: 0;
    }

    .subgridfaq {

        grid-column: 2 / 14 !important;

        grid-template-columns: repeat(12, 1fr) !important;

    }

    .faqtext {
        grid-column: 1 / 13 !important;
    }

    .faqtext h2 {
        margin-left: 3ch;
    }

    .faqtext a.seemore {
        margin-left: 0;
    }
}



.footerlogo .st0,
.pinwheel,
.headerlogo .st0 {
    fill: var(--basegrey);
}



.footerlogo {
    width: 7rem;
}

@media screen and (max-width: 1364px) {
    .footerlogo {
        max-width: 8rem;
    }
}



.quartergrid1,
.quartergrid2,
.quartergrid3,
.quartergrid4,
.sixthgrid1,
.sixthgrid2,
.sixthgrid3,
.sixthgrid4,
.sixthgrid5,
.sixthgrid6 {
    aspect-ratio: 1 / 1;
}

@media screen and (max-width: 766px) {

    .quartergrid1,
    .quartergrid3,
    .sixthgrid1,
    .sixthgrid3,
    .sixthgrid5 {
        grid-column: 7 / 13 !important;
    }

    .quartergrid2,
    .quartergrid4,
    .sixthgrid2,
    .sixthgrid4,
    .sixthgrid6 {
        grid-column: 1 / 7 !important;
    }
}

@media screen and (max-width: 766px) {

    .fullgrid {
        grid-row-gap: 7px !important;
    }

    .mobileheroimage {
        grid-column: 1 / 13 !important;
    }

    .quartergrid3 {
        grid-column: 1 / 7 !important;
        grid-row: 2 / 2 !important;
    }

    .quartergrid4 {
        grid-column: 7 / 13 !important;
        grid-row: 3 / 3 !important;
    }
}

@media screen and (max-width: 1364px) {
    .sixthgrid5.dualimage {
        grid-column: 8 / 11 !important;

    }

    .sixthgrid6.dualimage {
        grid-column: 11 / 14 !important;
    }
}

@media screen and (max-width: 766px) {
    .sixthgrid5.dualimage {
        grid-column: 2 / 8 !important;
        margin-top: 4rem;
    }

    .sixthgrid6.dualimage {
        grid-column: 8 / 14 !important;
        margin-top: 4rem;
    }

    .dualimagetext1 {
        grid-row: 7 / 8 !important;
    }
}




.footerlogo {
    grid-column: 1 / 3 !important;
    grid-row: 1/1 !important;
}

.socialblock {
    grid-column: 9 / 9 !important;

}

.legalblock {
    grid-column: 10 / 12 !important;
    margin-left: 25%;
}

.contactblock {
    grid-column: 12 / 12 !important;

}

@media screen and (max-width: 1364px) {

    .socialblock,
    .contactblock {
        grid-column: 7 / 13 !important;
        margin-left: 0;
        grid-row: 1/1 !important;
    }

    .legalblock {
        grid-column: 7 / 13 !important;
        grid-row: 1/1 !important;
        margin-top: 10rem;
        margin-left: 0;
    }

    .contactblock {
        grid-column: 10 / 13 !important;
    }
}

.credscopyright {
    grid-column: 1 / 3 !important;
}

.credsrights {
    grid-column: 9 / 11 !important;
}

.credsauthor {
    grid-column: 10 / 12 !important;
    margin-left: 25%;
}

.credscopyright,
.credsrights,
.credsauthor {
    grid-row: 2 / 2 !important;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1364px) {

    .credsrights {
        display: none;
    }

    .credscopyright,
    .credsauthor {
        grid-column: 7 / 13 !important;
        margin-left: 0;
        margin-top: 3rem;
    }

    .credsauthor {

        margin-top: 4.2rem;
    }
}

@media screen and (max-width: 766px) {
    .footerlogo {
        grid-column: 1 / 6 !important;

    }

    .footerlogo .st0 {
        display: none;
    }
}

</style>@media screen and (max-width: 766px) {
    .standardspacer {
        margin-bottom: 6rem;
    }
}

/* Universal spacing */
/* stacking for content under headers */
@media screen and (max-width: 766px) {
    .stackable {
        margin-top: 4rem;
    }
}

.overline {
    border-top: 1px solid var(--lightgrey);
}

.overlinespacer {
    margin-top: .4rem;
}

.standardspacer,
.standardspacerresponsive {
    margin-bottom: 9.3rem;
}

@media screen and (max-width: 766px) {
    .standardspacerresponsive {
        margin-bottom: 3.3rem;

    }

    .overlinespacer.stackable {
        margin-top: 4rem;

    }

}

/* Adjust spacing for naturally stacking text */
.thirdgrid2 p {
    margin-top: 4rem;
}

@media screen and (max-width: 766px) {
    .thirdgrid2 p {
        margin-top: 3.4rem;
    }
}


/* GRID ALIGNMENT */
/* Set all initial grid alignments in webflow – only specify here if changing from one alignment to another */

/* Grid positions to be set in webflow interface – Spec sheet: 
(note webflow interface and coded grid positions have disparity of 1 so col 13 in wf is 14 in code)

fullGrid            2 / 13
halfGridLeft        2 / 7 
halfGridRight       8 / 13
twoThirdsGridRight  6 / 13
thirdGrid1          2 / 5
thirdGrid2          6 / 9
thirdGrid3          10 / 13
quarterGrid1        2 / 4
quarterGrid2        5 / 7
quarterGrid3        8 / 10
quarterGrid4        11 / 13
sixthGrid           --
keyColumn           7 / 8
*/

/* Nested grids 

For images
quarterGrid
sixthGrid 

For text
subgridFaq

*/
.subgridfaq {}

.fullgrid {}

.halfgridleft {}

.halfgridright {}

.twothirdsgridright {}

.thirdgrid1 {}

.thirdgrid2 {}

.thirdgrid3 {}


/* Change any grid portion to full width */
@media screen and (max-width: 1364px) {

    .fullgrid .halfgridleft,
    .halfgridright,
    .twothirdsgridright,
    .keycolumn {
        grid-column: 2 / 14 !important;
    }
}

/* Change any grid portion to left half */
@media screen and (max-width: 1364px) {
    .thirdgrid2 {
        grid-column: 2 / 7 !important;
    }
}


/* Change any grid portion to right half */
@media screen and (max-width: 1364px) {
    .thirdgrid3 {
        grid-column: 8 / 14 !important;
    }
}

/* Change any grid portion to full width */
@media screen and (max-width: 766px) {

    .thirdgrid2,
    .thirdgrid3 {
        grid-column: 2 / 14 !important;
    }
}

/* Nested grids */
/* Controls for FAQ grid */
@media screen and (max-width: 1364px) {
    .subgridfaq {
        /* move the div on the grid */
        grid-column: 7 / 14 !important;
        /* add columns to match the main grid */
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
    }

    .subgridfaq .thirdgrid3 {
        /* move the content within the div's grid */
        grid-column: 8 / 14 !important;
    }

    .subgridfaq .keycolumn {
        /* move the key within the div's grid */
        grid-column: 1 / 1 !important;
        padding-top: .176rem;
        margin-left: 50%;
    }

    .faqtext {
        grid-column: 2 / 8 !important;
    }
}

@media screen and (max-width: 766px) {

    /* move keycolumn to left alignment */
    .subgridfaq .keycolumn {
        margin-left: 0;
    }

    .subgridfaq {
        /* move the div on the grid */
        grid-column: 2 / 14 !important;
        /* add columns to match the main grid */
        grid-template-columns: repeat(12, 1fr) !important;
        /* margin-top: 2.8rem; */
    }

    .faqtext {
        grid-column: 1 / 13 !important;
    }

    .faqtext h2 {
        margin-left: 3ch;
    }

    .faqtext a.seemore {
        margin-left: 0;
    }
}

/* Controls for Images */
/* Logos */
.footerlogo .st0,
.pinwheel,
.headerlogo .st0 {
    fill: var(--basegrey);
}

/* @media screen and (max-width: 766px){
    .headerlogo{
        max-width: 8rem;
    }
} */

.footerlogo {
    width: 7rem;
}

@media screen and (max-width: 1364px) {
    .footerlogo {
        max-width: 8rem;
    }
}

/* Handle square containers */
/* Ensure squares stay square*/
.quartergrid1,
.quartergrid2,
.quartergrid3,
.quartergrid4,
.sixthgrid1,
.sixthgrid2,
.sixthgrid3,
.sixthgrid4,
.sixthgrid5,
.sixthgrid6 {
    aspect-ratio: 1 / 1;
}

/* Sets odd numbers to left half of grid 
Expand on these rules later for specific requiremnets e.g masonry */
@media screen and (max-width: 766px) {

    .quartergrid1,
    .quartergrid3,
    .sixthgrid1,
    .sixthgrid3,
    .sixthgrid5 {
        grid-column: 7 / 13 !important;
    }

    /* Sets even numbers to right half of grid */
    .quartergrid2,
    .quartergrid4,
    .sixthgrid2,
    .sixthgrid4,
    .sixthgrid6 {
        grid-column: 1 / 7 !important;
    }
}

/*controls for quarter grid*/
@media screen and (max-width: 766px) {

    .fullgrid {
        grid-row-gap: 7px !important;
    }

    .mobileheroimage {
        grid-column: 1 / 13 !important;
    }

    .quartergrid3 {
        grid-column: 1 / 7 !important;
        grid-row: 2 / 2 !important;
    }

    .quartergrid4 {
        grid-column: 7 / 13 !important;
        grid-row: 3 / 3 !important;
    }
}

/*controls for sixth grid*/
/* dual images with text configuration */

/* prevent images from shrinking too small */
@media screen and (max-width: 1364px) {
    .sixthgrid5.dualimage {
        grid-column: 8 / 11 !important;

    }

    .sixthgrid6.dualimage {
        grid-column: 11 / 14 !important;
    }
}

/* align images to each half */
@media screen and (max-width: 766px) {
    .sixthgrid5.dualimage {
        grid-column: 2 / 8 !important;
        margin-top: 4rem;
    }

    .sixthgrid6.dualimage {
        grid-column: 8 / 14 !important;
        margin-top: 4rem;
    }

    /* stack text, each instance must have its own class instance here with appropriate grid row for page */
    .dualimagetext1 {
        grid-row: 7 / 8 !important;
    }
}


/* footer controls */
/* footer logo */
.footerlogo {
    grid-column: 1 / 3 !important;
    grid-row: 1/1 !important;
}

/* main blocks */
.socialblock {
    grid-column: 9 / 9 !important;

}

.legalblock {
    grid-column: 10 / 12 !important;
    margin-left: 25%;
}

.contactblock {
    grid-column: 12 / 12 !important;

}

@media screen and (max-width: 1364px) {

    .socialblock,
    .contactblock {
        grid-column: 7 / 13 !important;
        margin-left: 0;
        grid-row: 1/1 !important;
    }

    .legalblock {
        grid-column: 7 / 13 !important;
        grid-row: 1/1 !important;
        margin-top: 10rem;
        margin-left: 0;
    }

    .contactblock {
        grid-column: 10 / 13 !important;
    }
}

/* end credits */
.credscopyright {
    grid-column: 1 / 3 !important;
}

.credsrights {
    grid-column: 9 / 11 !important;
}

.credsauthor {
    grid-column: 10 / 12 !important;
    margin-left: 25%;
}

.credscopyright,
.credsrights,
.credsauthor {
    grid-row: 2 / 2 !important;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 1364px) {

    .credsrights {
        display: none;
    }

    .credscopyright,
    .credsauthor {
        grid-column: 7 / 13 !important;
        margin-left: 0;
        margin-top: 3rem;
    }

    .credsauthor {
        /* change to incorporate line height of figure */
        margin-top: 4.2rem;
    }
}

@media screen and (max-width: 766px) {
    .footerlogo {
        grid-column: 1 / 6 !important;
        /* width: 8rem; */
    }

    /* Hide text on footer logo */
    .footerlogo .st0 {
        display: none;
    }
}

</style>