/*GLOBAL*/
*{
  padding:0;
  margin:0;
}
::selection {
  background: #4B5057;
  color: #fff;
}
::-moz-selection{
  background: #4B5057;
  color: #fff;
}
html{
  overflow: hidden
}

body{
-webkit-text-size-adjust: 100%;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
font-smoothing: antialiased;
-webkit-tap-highlight-color: rgba(0,0,0,0);

scroll-behavior: [ auto | smooth ];
font-weight: normal;
font-style: normal;
font-kerning: normal;
overflow-x: hidden;
overflow-y: hidden;
}

/*TYPE*/
@font-face {
  font-family: "300";
  src: url("Fonts/Lausanne-300.woff2") format('woff2');
}
@font-face {
  font-family: "600";
  src: url("Fonts/Lausanne-600.woff2") format('woff2');
}
@font-face {
  font-family: "Serif";
  src: url("Fonts/Independent-Text.woff2") format('woff2');
}
@font-face {
  font-family: "SerifItalic";
  src: url("Fonts/Independent-Text-Italic.woff2") format('woff2');
}
:root{
    --black: #000;
    --white: #fff;
    --interactive: #8E8E8E;
    --lightgrey: #C4C4C4;
    --border: #E9E9E9;
    --neutral: #363636;
    --london: #4B5057;
    --newyork: #9C9791;
    --cotedazur: #83A7DE;
    --miami: #BD6F89;



}

ul,
figure,
p,
h2,
h1
{

  font-weight: normal;
  font-family: "300";
}

h1{
  font-family: "Serif";
  font-size: 1.5rem;
  line-height: 2.375rem;
  font-weight: normal;

}
h2{
  font-family: "300";
  font-size: 1.24rem;
  line-height: 1.62rem;
  color: var(--white);
}
figure{
  font-size: .82rem;
  line-height: 1.34rem;
}

p, label{
  line-height: 1.3rem;
  font-size: 14px;
}
.bold{
  font-family: "600";
  font-weight: normal;
  width: 8ch;
}


/*ELEMENTS*/
.background{
  width: 100vw;
  height: 100vh;
  background: var(--neutral);
  position: fixed;
  z-index: -2;
  opacity: 0;
  top:0;
  left:0;

  transition-duration: 450ms;
transition-property: opacity;
transition-timing-function: quintic;
-webkit-transition-duration: 450ms;
-webkit-transition-property: opacity;
-webkit-transition-timing-function: quintic;
}
.topBar{
padding: .8rem 0;
position: relative;
}
.logo{
  width: 10rem;
}
.container, .topBar{
  width: calc(100vw - 2rem);
  margin: auto;
}
.menuButton, .closeButton{

  margin: 0;
  position: absolute;
  top: 55%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 1rem;
}
.X{
  width: 1rem;
  height: 1rem;
  position: absolute;
  margin-top: 1.3rem;
  left: 56%;

}
.screenCounter{

  margin: 0;
  position: absolute;
  top: 48%;
  color: var(--white);
}


.marquee{
  width: 100vw;
  height: 3rem;
  border-top: 1px solid #E9E9E9;
}
.contact{
  width: 50%;
  float: left;
  margin-bottom: 2rem;
  color: var(--interactive);
  display: none;
}



.container{


  height: 100vh;

}
.textCenter{
  margin-top: 7rem;
}
.textButtonSmall{
  color: var(--interactive);
  padding-top: 2.2rem;

transition-duration: 800ms;
transition-property: all;
transition-timing-function: quintic;
-webkit-transition-duration: 800ms;
-webkit-transition-property: opacity;
-webkit-transition-timing-function: quintic;
}

.marquee div {
  display: flex;
  width: 400%;



  position: absolute;
  overflow: hidden;
  padding-left: 20vw;



  animation: marquee 9s linear infinite;

}
.marquee span {
  float: left;
  width:30%;


  color: #B3B3B3;
  padding-top: .8rem;

}

@keyframes marquee{
  0% { left: 0; }
  100% { left: -200%; }
}
@moz-keyframes marquee{
  0% { left: 0; }
  100% { left: -200%; }
}
@-webkit-keyframes marquee{
  0% { left: 0; }
  100% { left: -200%; }
}
@-o-keyframes marquee{
  0% { left: 0; }
  100% { left: -200%; }
}
@-ms-keyframes marquee{
  0% { left: 0; }
  100% { left: -200%; }
}
.reservations{
  width: 100%;
  height: 40vh;
}
.destinations{
  width: 100%;
  position: relative;
  top: -11.1rem;

}

.destinationLabel{
  float: left;
  width: 49%;
  padding-bottom: 1.2rem;
  text-align: left;
  padding-top: 10px;
}

.destinationLabel.left{
  margin-right: 1%;
}

.destinationLabel.right{
  margin-left: 6%;
  width: 40%;
}




/*MEDIA QUERIES*/
@media screen and (min-width: 767px) {

  .topBar{
  padding: 2.2rem 0;
  position: relative;
}

.logo{
  width: 11.2rem;
}
.menuButton, .X{

  left: 50%;
}
.X{
  margin-top: .8rem;
  padding: 10px;
}
.close.X{
margin-top: -1rem;
}
  .container, .topBar, .contactBar{
    width: calc(100vw - 12rem);
    max-width: 1520px;
    margin: auto;
  }
  .contactBar{
    position: absolute;
    display: flex;
    top: 8.3rem;

  }
.contact{
    float: left;
    min-width: 30ch;

  }
  .c2{
  margin-left: calc(50% - 30ch);
  }
  .c3{
  margin-left: calc(50% - 60ch);
  }


.textCenter{

    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    opacity: 1;
    margin: auto;


   margin-top: 17rem;
  }
  .textButtonSmall{
    padding-top: 1rem;
  }

  .marquee div {
    display: block;
    width: 200%;
    position: absolute;
    overflow: hidden;
    padding-left: 12vw;
    animation: marquee 28s linear infinite;
  }

  .marquee span {
    float: left;
    width: 12.5%;
    color: #B3B3B3;
    padding-top: .8rem;

  }
  .destinations{
    top: -15rem;

  }

  .destinationLabel{
    padding-bottom: 2.6rem;
    border-top: 1px solid var(--white);

  }

  .destinationLabel.right{
    margin-left: 0;
    width: 49%;
  }
  @keyframes marquee{
    0% { left: 0; }
    100% { left: -100%; }
  }
  @moz-keyframes marquee{
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-webkit-keyframes marquee{
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-o-keyframes marquee{
    0% { left: 0; }
    100% { left: -100%; }
  }
  @-ms-keyframes marquee{
    0% { left: 0; }
    100% { left: -100%; }
  }

}

@media screen and (min-device-width: 801px) and (max-width: 1080px) {
.container, .topBar, .contactBar{
  width: calc(100vw - 4rem);
  margin: auto;
}
.topBar{
padding: 1.4rem 0;
}
}

/*Portrait tablets*/
@media screen and (min-device-width: 600px) and (max-device-width: 1024px) and (pointer: coarse) and (orientation: portrait){

.textCenter{
margin-top: 30vh;
}
.destinations{

    top: -9rem;
}
}




/*INTERACTION*/

a{
  text-decoration: none;
  color: var(--interactive);
}
a:hover{
  color: var(--black);
}



.interactive, a{
  cursor: pointer;
  transition-duration: 800ms;
   transition-property: color;
   transition-timing-function: quintic;
   -webkit-transition-duration: 800ms;
   -webkit-transition-property:color;
   -webkit-transition-timing-function: quintic;
   -moz-transition-duration: 800ms;
   -moz-transition-property:color;
   -moz-transition-timing-function: quintic;
   -o-transition-duration: 800ms;
   -o-transition-property:color;
   -o-transition-timing-function: quintic;
}
.destinationLabel{
  opacity: 30%;
  cursor: pointer;
  transition-duration: 800ms;
   transition-property: opacity;
   transition-timing-function: quintic;
   -webkit-transition-duration: 800ms;
   -webkit-transition-property:opacity;
   -webkit-transition-timing-function: quintic;
   -moz-transition-duration: 800ms;
   -moz-transition-property:opacity;
   -moz-transition-timing-function: quintic;
   -o-transition-duration: 800ms;
   -o-transition-property:opacity;
   -o-transition-timing-function: quintic;
}
.destinationLabel:hover{
opacity: 1;
}
.interactive:hover,
.interactive:active {
  color: var(--black);
}

input[type=checkbox]{
  display: none;
}
input[type=checkbox]#toggle:checked  ~ .background {
opacity: 1;
}

input[type=checkbox]#toggle:checked ~ .mainContainer .toggleHide{
visibility: hidden;
}
.showOnCheck{
  visibility: hidden;
}

input[type=checkbox]#toggle:checked ~ .mainContainer .showOnCheck{
opacity: 1;
visibility: visible;
}

input[type=checkbox]#contact:checked ~ .mainContainer .showOnCheck.close{
opacity: 1;
visibility: visible;
}

.X:hover{
  cursor:pointer;
}


input[type=checkbox]#contact:checked ~ .mainContainer .contact{
display: block;
opacity: 1;
}
input[type=checkbox]#contact:checked ~ .mainContainer .contactHide{
visibility: hidden;
}
input[type=checkbox]#toggle:checked ~ .mainContainer .menuButton.showOnCheck.close{
opacity: 0;
visibility: hidden;
}


@media screen and (max-width: 767px) {

input[type=checkbox]#contact:checked ~ .mainContainer .marquee{
border-top: white;}

input[type=checkbox]#contact:checked ~ .mainContainer .textCenter{
visibility: hidden;
}
input[type=checkbox]#contact:checked ~ .mainContainer .marquee{
margin-bottom: 12rem;
}
.c2,.c3{
  margin-top: -4.6rem;
}
.c2{
  margin-left: -50%;
}
}








/*
@keyframes fadeIn{
 0%{
   opacity: 0;
 }
 100%{
   opacity: 1;
 }
}


.container{

  margin: auto;

  max-width: 1540px;
  width: calc(100vw - 8rem);
  height:100vh;
  background: blue;

}
*/
